# With Pandas Fetch Tabels From WHO Web Site

In [ ]:
#Step1:- Import pandas and assign web site url

In [2]:
import pandas as pd
url = 'https://covid19.who.int/info/'
df_list = pd.read_html(url)
#df means datafram, it help to fram table from web page to out terminal output

In [3]:
df_list

[    Short field name     Type  \
 0      Date_reported     Date
 1       Country_code   String
 2            Country   String
 3         WHO_region   String
 4          New_cases  Integer
 5   Cumulative_cases  Integer
 6         New_deaths  Integer
 7  Cumulative_deaths  Integer

                                          Description
 0                           Date of reporting to WHO
 1                           ISO Alpha-2 country code
 2                           Country, territory, area
 3  WHO regional offices: WHO Member States are gr...
 4  New confirmed cases. Calculated by subtracting...
 5  Cumulative confirmed cases reported to WHO to ...
 6  New confirmed deaths. Calculated by subtractin...
 7  Cumulative confirmed deaths reported to WHO to...  ,
                                            Field name     Type  \
 0                                                Name   String
 1                                          WHO_region   String
 2                            Cases - cumulative total  Integer
 3      Cases - cumulative total per 100000 population  Decimal
 4               Cases - newly reported in last 7 days  Integer
 5   Cases - newly reported in last 7 days per 1000...  Decimal
 6             Cases - newly reported in last 24 hours  Integer
 7                           Deaths - cumulative total  Integer
 8     Deaths - cumulative total per 100000 population  Decimal
 9              Deaths - newly reported in last 7 days  Integer
 10  Deaths - newly reported in last 7 days per 100...  Decimal
 11           Deaths - newly reported in last 24 hours  Integer
 12                        Transmission Classification   String

                                           Description
 0                            Country, territory, area
 1                                          WHO Region
 2   Cumulative confirmed cases reported to WHO to ...
 3   Cumulative confirmed cases reported to WHO to ...
 4   New confirmed cases reported in the last 7 day...
 5   New confirmed cases reported in the last 7 day...
 6   New confirmed cases reported in the last 24 ho...
 7   Cumulative confirmed deaths reported to WHO to...
 8   Cumulative confirmed deaths reported to WHO to...
 9   New confirmed deaths reported in the last 7 da...
 10  New confirmed deaths reported in the last 7 da...
 11  New confirmed deaths reported in the last 24 h...
 12  Transmission classification. See data source n...  ,
                               Field name     Type  \
 0                                COUNTRY   String
 1                                   ISO3   String
 2                             WHO_REGION   String
 3                            DATA_SOURCE   String
 4                           DATE_UPDATED     Date
 5                     TOTAL_VACCINATIONS  Integer
 6          PERSONS_VACCINATED_1PLUS_DOSE  Decimal
 7              TOTAL_VACCINATIONS_PER100  Integer
 8   PERSONS_VACCINATED_1PLUS_DOSE_PER100  Decimal
 9               PERSONS_FULLY_VACCINATED  Integer
 10       PERSONS_FULLY_VACCINATED_PER100  Decimal
 11                         VACCINES_USED   String
 12                    FIRST_VACCINE_DATE     Date
 13            NUMBER_VACCINES_TYPES_USED  Integer

                                           Description
 0                            Country, territory, area
 1                            ISO Alpha-3 country code
 2   WHO regional offices: WHO Member States are gr...
 3   Indicates data source: - REPORTING: Data repor...
 4                                 Date of last update
 5         Cumulative total vaccine doses administered
 6   Cumulative number of persons vaccinated with a...
 7   Cumulative total vaccine doses administered pe...
 8   Cumulative persons vaccinated with at least on...
 9       Cumulative number of persons fully vaccinated
 10  Cumulative number of persons fully vaccinated ...
 11  Combined short name of vaccine: “Company - Pro...
 12  Date of first vaccinations. Equivalent to star...
 13  Number of vaccine types used per country, terr...  ,
            Field name    Type  \
 0                ISO3  String
 1        VACCINE_NAME  String
 2        PRODUCT_NAME  String
 3        COMPANY_NAME  String
 4  FIRST_VACCINE_DATE    Date
 5  AUTHORIZATION_DATE    Date
 6          START_DATE    Date
 7            END_DATE    Date
 8             COMMENT  String
 9         DATA_SOURCE  String

                                          Description
 0                           ISO Alpha-3 country code
 1  Combined short name of vaccine: “Company - Pro...
 2  Name or label of vaccine product, or type of v...
 3  Marketing authorization holder of vaccine prod...
 4  Date of first vaccinations. Equivalent to star...
 5  Date vaccine product was authorised for use in...
 6  Start/launch date of vaccination with vaccine ...
 7                        End date of vaccine rollout
 8                Comments related to vaccine rollout
 9  Indicates data source - REPORTING: Data report...  ]

In [5]:
# we can check how many tables are present in this page
len(df_list)

4

In [6]:
#Let select one table
df_list[1]

,Field name,Type,Description
0,Name,String,"Country, territory, area"
1,WHO_region,String,WHO Region
2,Cases - cumulative total,Integer,Cumulative confirmed cases reported to WHO to ...
3,Cases - cumulative total per 100000 population,Decimal,Cumulative confirmed cases reported to WHO to ...
4,Cases - newly reported in last 7 days,Integer,New confirmed cases reported in the last 7 day...
5,Cases - newly reported in last 7 days per 1000...,Decimal,New confirmed cases reported in the last 7 day...
6,Cases - newly reported in last 24 hours,Integer,New confirmed cases reported in the last 24 ho...
7,Deaths - cumulative total,Integer,Cumulative confirmed deaths reported to WHO to...
8,Deaths - cumulative total per 100000 population,Decimal,Cumulative confirmed deaths reported to WHO to...
9,Deaths - newly reported in last 7 days,Integer,New confirmed deaths reported in the last 7 da...
10,Deaths - newly reported in last 7 days per 100...,Decimal,New confirmed deaths reported in the last 7 da...
11,Deaths - newly reported in last 24 hours,Integer,New confirmed deaths reported in the last 24 h...
12,Transmission Classification,String,Transmission classification. See data source n...

# Head()

In [7]:
df_list[0].head()
#here we are going to the very first table in page and .head() helps to show first 5 elements in row

  Short field name     Type                                        Description
0    Date_reported     Date                           Date of reporting to WHO
1     Country_code   String                           ISO Alpha-2 country code
2          Country   String                           Country, territory, area
3       WHO_region   String  WHO regional offices: WHO Member States are gr...
4        New_cases  Integer  New confirmed cases. Calculated by subtracting...

In [11]:
#if you need you can print more then or less then 5 rows from top
df_list[0].head(7)

,Short field name,Type,Description
0,Date_reported,Date,Date of reporting to WHO
1,Country_code,String,ISO Alpha-2 country code
2,Country,String,"Country, territory, area"
3,WHO_region,String,WHO regional offices: WHO Member States are gr...
4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...

In [48]:
#with help of skiprows you can skip single or multiple row and print new datafram
#2 ke pahle ke rows show nhi honge aur, 2 kud ek table header show krega
df=pd.read_html(url,skiprows=2)[0]
df

,Country_code,String,ISO Alpha-2 country code
0,Country,String,"Country, territory, area"
1,WHO_region,String,WHO regional offices: WHO Member States are gr...
2,New_cases,Integer,New confirmed cases. Calculated by subtracting...
3,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
4,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...
5,Cumulative_deaths,Integer,Cumulative confirmed deaths reported to WHO to...

In [57]:
#multiple skip
df=pd.read_html(url,skiprows=[2,4,6])[0]
df

,Short field name,Type,Description
0,Date_reported,Date,Date of reporting to WHO
1,Country,String,"Country, territory, area"
2,New_cases,Integer,New confirmed cases. Calculated by subtracting...
3,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...
4,Cumulative_deaths,Integer,Cumulative confirmed deaths reported to WHO to...

In [63]:
#here we first skip 2 rows then header goes to 3rd place after skip and make those rows as header of table
df=pd.read_html(url,skiprows=2,header=3)[0]
df

,New_cases,Integer,New confirmed cases. Calculated by subtracting previous cumulative case count from current cumulative cases count.*
0,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
1,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...
2,Cumulative_deaths,Integer,Cumulative confirmed deaths reported to WHO to...

# working with column

In [72]:
df_list[0]['Short field name']
#we can get any single column from any table, just first pass index of table then name of column

0        Date_reported
1         Country_code
2              Country
3           WHO_region
4            New_cases
5     Cumulative_cases
6           New_deaths
7    Cumulative_deaths
Name: Short field name, dtype: object

In [73]:
df=df_list[0]
df[['Short field name','Type']]
#You can show as many columns as per your requirments

    Short field name     Type
0      Date_reported     Date
1       Country_code   String
2            Country   String
3         WHO_region   String
4          New_cases  Integer
5   Cumulative_cases  Integer
6         New_deaths  Integer
7  Cumulative_deaths  Integer

In [74]:
# Select the top 3 rows of the Dataframe for 2 columns only
df = df_list[1][['Field name', 'Type']].head(3)
df

                 Field name     Type
0                      Name   String
1                WHO_region   String
2  Cases - cumulative total  Integer

In [67]:
#We can select a particular column to the index of the table by using the index_col parameter
df=pd.read_html(url, index_col=2)[0]
#simple mtlb ye hai ki kisi bhi column ko hum chahe to 1st number pe rakh skte hai in 3no column me se, jaise maine desc ko phle kr diya
df

                                                     Short field name     Type
Description
Date of reporting to WHO                                Date_reported     Date
ISO Alpha-2 country code                                 Country_code   String
Country, territory, area                                      Country   String
WHO regional offices: WHO Member States are gro...         WHO_region   String
New confirmed cases. Calculated by subtracting ...          New_cases  Integer
Cumulative confirmed cases reported to WHO to d...   Cumulative_cases  Integer
New confirmed deaths. Calculated by subtracting...         New_deaths  Integer
Cumulative confirmed deaths reported to WHO to ...  Cumulative_deaths  Integer

# Tail()

In [75]:
 # Let grab last 5 rows from table
df_list[0].tail()

,Short field name,Type,Description
3,WHO_region,String,WHO regional offices: WHO Member States are gr...
4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...
7,Cumulative_deaths,Integer,Cumulative confirmed deaths reported to WHO to...

In [15]:
# Grab more or less than 5 rows from last
df_list[0].tail(6)

,Short field name,Type,Description
2,Country,String,"Country, territory, area"
3,WHO_region,String,WHO regional offices: WHO Member States are gr...
4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...
7,Cumulative_deaths,Integer,Cumulative confirmed deaths reported to WHO to...

# Information of file

In [17]:
# .info() give info if file/paticular table in this case
df_list[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
Short field name    8 non-null object
Type                8 non-null object
Description         8 non-null object
dtypes: object(3)
memory usage: 272.0+ bytes

In [19]:
df_list[0].iloc[2]
#this will help to give details at which index what info is present

Short field name                     Country
Type                                  String
Description         Country, territory, area
Name: 2, dtype: object

In [21]:
#used to generate descriptive statistics of the data
#suppose you have a numarical table, then this will to show, mean,count,max,25%,50%,75%,std
df_list[0].describe()

       Short field name     Type               Description
count                 8        8                         8
unique                8        3                         8
top             Country  Integer  Date of reporting to WHO
freq                  1        4                         1

In [25]:
# If you want to grab few rows from big file, 3rd row will also included 
df_list[0].loc[1:3]

  Short field name    Type                                        Description
1     Country_code  String                           ISO Alpha-2 country code
2          Country  String                           Country, territory, area
3       WHO_region  String  WHO regional offices: WHO Member States are gr...

In [26]:
# Let try to grab rows as well as columns, here 3 will also included
df_list[0].loc[1:3,['Short field name','Type']]

  Short field name    Type
1     Country_code  String
2          Country  String
3       WHO_region  String

In [30]:
#suppose you want to count the column
#identifying the number of occurrences of each unique value in a Series
df=df_list[0]
df['Type'].value_counts()

Integer    4
String     3
Date       1
Name: Type, dtype: int64

In [31]:
#df['Type'].value_counts(normalize=True).plot(kind='bar', title='Type')

In [76]:
data = df_list[1]
data[3:4]
#selecting a single row from any place

,Field name,Type,Description
3,Cases - cumulative total per 100000 population,Decimal,Cumulative confirmed cases reported to WHO to ...

# Drop & Re-Indexing

In [77]:
df = df_list[0].drop([0, 1,3, 7], axis=0)
df
#if you want to eliminate any row simply use .drop([row_1,row_3]) and axis=0 means we are eliminating rows

,Short field name,Type,Description
2,Country,String,"Country, territory, area"
4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...

In [79]:
df = df.reset_index(drop=False)
df
#drop=Flase show our after and before index

,index,Short field name,Type,Description
0,2,Country,String,"Country, territory, area"
1,4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
2,5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
3,6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...

In [80]:
df = df.reset_index(drop=True)
df
#this reset_index() help to reset the elememt index
#If we don’t add the drop=True parameter, the current index will become a new column.

,index,Short field name,Type,Description
0,2,Country,String,"Country, territory, area"
1,4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
2,5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
3,6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...

# Save any paticular table

In [82]:
df_list[0].to_csv('python.csv')
#if you need to download that paticular table you can download like as above done.

In [83]:
# Lets check whether it is really saved or not
df=pd.read_csv('python.csv')
df

,Unnamed: 0,Short field name,Type,Description
0,0,Date_reported,Date,Date of reporting to WHO
1,1,Country_code,String,ISO Alpha-2 country code
2,2,Country,String,"Country, territory, area"
3,3,WHO_region,String,WHO regional offices: WHO Member States are gr...
4,4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
5,5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
6,6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...
7,7,Cumulative_deaths,Integer,Cumulative confirmed deaths reported to WHO to...

In [86]:
df['Type'].fillna(0, inplace=True)
#.fillna() actuall work to fill the NaN values if present in any column

,Unnamed: 0,Short field name,Type,Description
0,0,Date_reported,Date,Date of reporting to WHO
1,1,Country_code,String,ISO Alpha-2 country code
2,2,Country,String,"Country, territory, area"
3,3,WHO_region,String,WHO regional offices: WHO Member States are gr...
4,4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
5,5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
6,6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...
7,7,Cumulative_deaths,Integer,Cumulative confirmed deaths reported to WHO to...

In [88]:
df.sort_values(by='Type')
#basically we are sorting in ascending alphabatical order

,Unnamed: 0,Short field name,Type,Description
0,0,Date_reported,Date,Date of reporting to WHO
4,4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
5,5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
6,6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...
7,7,Cumulative_deaths,Integer,Cumulative confirmed deaths reported to WHO to...
1,1,Country_code,String,ISO Alpha-2 country code
2,2,Country,String,"Country, territory, area"
3,3,WHO_region,String,WHO regional offices: WHO Member States are gr...

In [91]:
df.sort_values(by='Type',ascending=False)
#descanding order

,Unnamed: 0,Short field name,Type,Description
1,1,Country_code,String,ISO Alpha-2 country code
2,2,Country,String,"Country, territory, area"
3,3,WHO_region,String,WHO regional offices: WHO Member States are gr...
4,4,New_cases,Integer,New confirmed cases. Calculated by subtracting...
5,5,Cumulative_cases,Integer,Cumulative confirmed cases reported to WHO to ...
6,6,New_deaths,Integer,New confirmed deaths. Calculated by subtractin...
7,7,Cumulative_deaths,Integer,Cumulative confirmed deaths reported to WHO to...
0,0,Date_reported,Date,Date of reporting to WHO